@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5xtll1');
  src:  url('fonts/icomoon.eot?5xtll1#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5xtll1') format('truetype'),
    url('../fonts/icomoon.woff?5xtll1') format('woff'),
    url('../fonts/icomoon.svg?5xtll1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


span[class="icon-file-jpg"]::before {
  content: "\e900";
}
span[class="icon-google"]::before {
  content: "\ea88";
}
span[class="icon-wikipedia"]::before {
  content: "\eac8";
}
span[class="icon-file-pdf"]::before {
  content: "\eadf";
}
span[class="icon-file-word"]::before {
  content: "\eae1";
}
span[class="icon-file-excel"]::before {
  content: "\eae2";
}

span[class="icon-file-zip"]::before {
  content: "\e92b";
}

